<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <h1>Add User</h1>

        <form method="post" action="/addUser">
            <table border="1">
                <tr>
                    <td>Name :- </td>
                    <td>
                        <input type="text" name="name" placeholder="Enter Your Name">
                    </td>
                </tr>
                <tr>
                    <td>Email :- </td>
                    <td>
                        <input type="text" name="email" placeholder="Enter Your Email">
                    </td>
                </tr>
                <tr>
                    <td>Password :- </td>
                    <td>
                        <input type="text" name="password" placeholder="Enter Your Password">
                    </td>
                </tr>
                <tr>
                    <td>Gender :- </td>
                    <td>
                        <input type="radio" name="gender" value="male">Male
                        <input type="radio" name="gender" value="female">Female
                    </td>
                </tr>
                <tr>
                    <td>Hobby :- </td>
                    <td>
                        <input type="checkbox" name="hobby" value="playing">Playing
                        <input type="checkbox" name="hobby" value="singing">Singing
                        <input type="checkbox" name="hobby" value="travelling">Travelling
                    </td>
                </tr>
                <tr>
                    <td>City :- </td>
                    <td>
                        <select name="city">
                            <option value="">--- Select City ---</option>
                            <% city=["Vesu", "Adajan" , "Amroli" , "Varachha" , "Katargam" , "Dabholi" ]
                                city.map((val)=> { %>
                                <option value="<%= val %>">
                                    <%= val %>
                                </option>
                                <% })%>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="submit">
                    </td>
                </tr>
            </table>
        </form>

        <a href="/viewUser">View</a>
    </div>
</body>

</html>