<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #e4e7e7;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            border-bottom: 1px solid #ddd;
            background-color: #fff;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
        }

        .nav {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .nav a {
            text-decoration: none;
            color: black;
            font-size: 14px;
            font-weight: 600;
            transition: 0.2s;
        }

        .nav a:hover{
            color : #1665D8;
        }

        .dropdown {
            cursor: pointer;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .login {
            text-decoration: none;
            color: black;
        }

        .button {
            background-color: rgb(176, 9, 9);
            color: white;
            padding: 8px 16px;
            border-radius: 20px;
            text-decoration: none;
            font-weight: bold;
            transition: 0.3s;
        }

        .button:hover{
            background-color: rgb(111, 7, 7);
        }

        .breadcrumb {
            font-size: 14px;
            color: #666;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 5px;
        }
        .filters {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            gap: 10px;
        }
        .filter-btn {
            padding: 8px 16px;
            border: 1px solid #ccc;
            border-radius: 6px;
            background-color: #fff;
            cursor: pointer;
            font-size: 14px;
            transition: 0.2s;
        }
        .filter-btn:hover{
            background-color: #1665D8;
            color: #fff;
            border-color: transparent;
        }

        .cards .blog-cards a img{
            padding: 4px;
            margin: 15px 5px !important;
            border: 4px solid #fff;
            border-radius: 10px;
            transition: 0.5s;
        }

        .cards .blog-cards a img:hover{
            border-color: #174282;
            padding: 0;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px;
            border-top: 1px solid #ddd;
            font-size: 14px;
        }
        .social-icons {
            display: flex;
            gap: 20px;
        }
        .social-icons img {
            width: 24px;
            height: 24px;
        }
        .footer-links {
            display: flex;
            gap: 20px;
        }
        .footer-links a{
            color: #000;
            transition: 0.3s;
        }
        .footer-links a:hover{
            color: #1665D8;
        }
    </style>
</head>

<body>
    <div align="center">
        <header class="header">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="30" fill="none">
                    <g fill="#000" clip-path="url(#Logo_svg__a)">
                        <path
                            d="M75 0h-4.142c-1.15 0-2.224.57-2.87 1.52l-5.54 8.174a.372.372 0 0 1-.615 0l-5.54-8.173A3.46 3.46 0 0 0 53.424 0h-4.143l9.87 14.56-9.815 14.477h4.143c1.149 0 2.223-.569 2.868-1.52l5.486-8.093a.372.372 0 0 1 .616 0l5.485 8.093a3.46 3.46 0 0 0 2.87 1.52h4.142L65.131 14.56zM40.758 2.97v26.067h1.98a2.97 2.97 0 0 0 2.97-2.97V0h-1.98a2.97 2.97 0 0 0-2.97 2.97M37.126 0h-1.762a4.15 4.15 0 0 0-4.051 3.233l-3.942 17.328-3.45-16.175c-.638-2.99-3.706-5.006-6.845-4.139-1.999.552-3.481 2.241-3.914 4.27L9.747 20.54 5.813 3.234A4.16 4.16 0 0 0 1.76 0H0l6.604 29.036h2.502a4.81 4.81 0 0 0 4.706-3.808l4.221-19.81a.54.54 0 0 1 .523-.424c.25 0 .471.178.523.423l4.226 19.812a4.81 4.81 0 0 0 4.706 3.807h2.51z">
                        </path>
                    </g>
                    <defs>
                        <clipPath id="Logo_svg__a">
                            <path fill="#fff" d="M0 0h75v29.037H0z"></path>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <nav class="nav">
                <a href="/dashboard">Home </a>
                <a href="/viewblogpage">Your Blogs </a>
                <a href="/addblogpage">Add Your Blogs </a>
            </nav>
            <div class="right">
                <a href="/logoutuser" class="button">Logout</a>
                <!-- <a class="login" href="#">Log In</a> -->
                <!-- <a class="button" href="#">Get Started</a> -->
            </div>
        </header>

        <div style="padding: 20px 0;">
            <div class="container">
                <div class="breadcrumb d-flex justify-content-center">Website Templates /</div>
                <div class="title">Blog Website Templates</div>
                <div class="filters">
                    <button class="filter-btn ">All</button>
                    <button class="filter-btn">Personal Blog</button>
                    <button class="filter-btn">Food & Travel</button>
                    <button class="filter-btn">News & Business</button>
                    <button class="filter-btn">Arts</button>
                    <button class="filter-btn">Fashion & Beauty</button>
                    <button class="filter-btn">Sports & Wellness</button>
                    <button class="filter-btn">Podcast</button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="container">
                <div class="blog-cards d-flex align-items-center justify-content-center my-3">
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2502?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=9fa0878d-fedc-40ef-979f-da5234999a00" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/0c018f7c8c9f5adcc54531905fb2bbe2c26295f1624ea36b93708f2833e828c11628607364932.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/0c018f7c8c9f5adcc54531905fb2bbe2c26295f1624ea36b93708f2833e828c11628607364932.webp" width="400">
                        </a>
                        
                        <h6>Personal Blog</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/1872?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=12402d99-f608-4d52-a298-d5b60b716ef6" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/54d15586b8e831a8d6b14b6f5e53c9670e4a6aa53d10a2c5e711508997ac8bfe1628614389821.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/54d15586b8e831a8d6b14b6f5e53c9670e4a6aa53d10a2c5e711508997ac8bfe1628614389821.webp" width="400">
                        </a>
                        
                        <h6>Design Blog & Podcast</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/1845?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=185d525a-6750-4936-9f27-b41917872f3b" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/abefc5ede2c704804aff9eed78d37d100d75ee767f8194a7666ddddee1447f7e1628692719094.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/abefc5ede2c704804aff9eed78d37d100d75ee767f8194a7666ddddee1447f7e1628692719094.webp" width="400">
                        </a>
                        
                        <h6>Travel Blog</h6>
                    </div>
                </div>
                <div class="blog-cards d-flex align-items-center justify-content-center my-3">
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2686?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=43eca07c-b2e2-49fa-96f2-916392186808" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/719ae50b59c255985766f97b186a5945ac8969f0b77c7dc43f1c676b1d3f60891628692326613.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/719ae50b59c255985766f97b186a5945ac8969f0b77c7dc43f1c676b1d3f60891628692326613.webp" width="400">
                        </a>
                        
                        <h6>Personal Blog</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2004?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=85f7dcb2-1d79-43b6-9046-af2ee440614d" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/9c2624bcbbd9012005eae04dbdb0a12bccae7cdb552215f5e7ff8c54345edefc.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/9c2624bcbbd9012005eae04dbdb0a12bccae7cdb552215f5e7ff8c54345edefc.webp" width="400">
                        </a>
                        
                        <h6>Personal Blog</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2836?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=943fbb9f-7d1b-4b14-a64d-8e58e6674361" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/ada75440311254d771b9bfa28173170e8e377ec13ffdc2050b4e82bfae2f697c1628763949063.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/ada75440311254d771b9bfa28173170e8e377ec13ffdc2050b4e82bfae2f697c1628763949063.webp" width="400">
                        </a>
                        
                        <h6>Book Blog</h6>
                    </div>
                </div>
                <div class="blog-cards d-flex align-items-center justify-content-center my-3">
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/3079?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=9a3da9d6-05fc-41c8-9677-53d520c1f261" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/93c6ad8d7c53257991206f1b194a301fe4c737faee52b1d297393bfa69bab6c91656926275548.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/93c6ad8d7c53257991206f1b194a301fe4c737faee52b1d297393bfa69bab6c91656926275548.webp" width="400">
                        </a>
                       
                        <h6>Design Blog</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2534?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=1bad956d-7b61-42a7-bc10-a24604e2d0a3" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/dd8b3aaf70425d896c779f72463733adcd26fc3191832e054ab0098ea2fe8e1b1584443536776.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/dd8b3aaf70425d896c779f72463733adcd26fc3191832e054ab0098ea2fe8e1b1584443536776.webp" width="400">
                        </a>
                        
                        <h6>Personal Blog</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2180?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=b0422aa3-cffd-4d3c-9cd4-f3610ed405ce" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/5cb11436342dd9c3cf851ebea370dfb33538970bdfaaba07297280466e541e15.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/5cb11436342dd9c3cf851ebea370dfb33538970bdfaaba07297280466e541e15.webp" width="400">
                        </a>
                        
                        <h6>Personal Blog</h6>
                    </div>
                </div>
                <div class="blog-cards d-flex align-items-center justify-content-center my-3">
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2793?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=16855806-a81f-4e38-a2df-cb5b97c2da0f" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/75ebcdc3ac3b54e326d81b6739217388424c1b0d775f5d3877c6d8c48add083d1620022031904.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/75ebcdc3ac3b54e326d81b6739217388424c1b0d775f5d3877c6d8c48add083d1620022031904.webp" width="400">
                        </a>
                        
                        <h6>Coaching Blog</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2713?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=e2f78a66-ee88-48a9-bcec-ee3ab64a97c6" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/c148df50beeb9c879ee98f59bb842feafa596e12eb40f95213f06122afd1da921628613077841.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/c148df50beeb9c879ee98f59bb842feafa596e12eb40f95213f06122afd1da921628613077841.webp" width="400">
                        </a>
                        
                        <h6>Marketing Blog</h6>
                    </div>
                    <div>
                        <a href="https://www.wix.com/website-template/view/html/2714?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblog&tpClick=view_button&esi=cbf224f0-db26-482b-bd68-0c943287f1fb" target="_blank">
                            <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/faf9d43f92cccec3a100724075adf69a9001463d6185322edef5d51d130420061628693044599.jpg/v1/fill/w_1076%2Ch_606%2Cq_90%2Cusm_0.60_1.00_0.01/faf9d43f92cccec3a100724075adf69a9001463d6185322edef5d51d130420061628693044599.webp" width="400">
                        </a>
                        
                        <h6>Travel Blog</h6>
                    </div>
                </div>
            </div>
        </div>
       
        <footer class="footer">
            <div class="social-icons">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill="#000" d="M10 0C-2.399.363-3.663 17.76 8.43 20v-7.03H5.876V10.06H8.43V7.845c.072-4.058 3.333-4.207 6.047-3.718v2.476H13.21c-1.249 0-1.639.775-1.639 1.57v1.888h2.788l-.445 2.909H11.57V20C23.666 17.759 22.396.362 10 0"></path></svg>
                </a>

                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="none" viewBox="0 0 28 20"><path fill="#000" d="M11.83.005c-2.96.056-4.594.12-6.14.237C3.805.385 3.093.511 2.475.81c-.357.173-.62.357-.92.648C.825 2.173.53 2.913.321 4.569l-.085.67a45 45 0 0 0-.162 2.222c-.099 2.083-.099 2.994 0 5.083.03.662.121 1.906.162 2.221l.085.67c.21 1.657.503 2.397 1.234 3.112.714.696 1.393.95 3.008 1.118C6.72 19.89 9.763 20 14 20c3.646 0 6.203-.073 8.31-.235 1.899-.148 2.597-.27 3.215-.57.357-.173.62-.357.92-.648.73-.715 1.025-1.455 1.234-3.111l.085-.67c.04-.316.132-1.56.162-2.222.099-2.089.099-3 0-5.083a45 45 0 0 0-.162-2.221l-.085-.67c-.21-1.657-.503-2.397-1.234-3.112C25.956.98 25.43.695 24.736.536c-.983-.23-3.269-.397-6.684-.492A295 295 0 0 0 11.83.005m.192 6.266c1.055.611 2.063 1.195 5.324 3.08.594.341 1.083.635 1.083.651 0 .014-.789.484-1.753 1.04a2861 2861 0 0 0-5.511 3.187c-.014.006-.022-1.897-.022-4.226 0-2.33.008-4.232.022-4.227.01.003.395.226.857.495"></path></svg>
                </a>

                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill="#000" d="M5.858.07c-1.064.05-1.79.22-2.425.47-.658.256-1.215.6-1.77 1.156a4.9 4.9 0 0 0-1.15 1.772C.267 4.105.1 4.832.053 5.897s-.057 1.407-.052 4.122c.005 2.716.017 3.056.069 4.123.05 1.064.22 1.79.47 2.426.256.657.6 1.214 1.156 1.769a4.9 4.9 0 0 0 1.774 1.15c.636.245 1.363.413 2.428.46 1.064.046 1.407.057 4.122.052s3.056-.017 4.123-.068c1.067-.05 1.79-.221 2.425-.47a4.9 4.9 0 0 0 1.769-1.156 4.9 4.9 0 0 0 1.15-1.774c.246-.636.413-1.363.46-2.427.046-1.067.057-1.408.052-4.123s-.018-3.056-.068-4.122c-.05-1.067-.22-1.79-.47-2.427a4.9 4.9 0 0 0-1.156-1.769 4.9 4.9 0 0 0-1.773-1.15C15.895.269 15.168.1 14.104.054 13.039.009 12.697-.003 9.98.002S6.925.018 5.858.07m.117 18.078c-.975-.043-1.504-.205-1.857-.34-.467-.18-.8-.398-1.152-.746a3.1 3.1 0 0 1-.75-1.149c-.137-.352-.302-.881-.347-1.856-.05-1.054-.06-1.37-.066-4.04s.004-2.986.05-4.04c.042-.974.205-1.504.34-1.857.18-.468.397-.8.746-1.151a3.1 3.1 0 0 1 1.15-.75c.351-.138.88-.302 1.855-.348 1.054-.05 1.37-.06 4.04-.066s2.986.004 4.041.05c.974.043 1.505.204 1.857.34.467.18.8.397 1.151.746.352.35.568.682.75 1.15.138.35.302.88.348 1.855.05 1.054.062 1.37.066 4.04s-.004 2.986-.05 4.04c-.043.975-.205 1.504-.34 1.857a3.1 3.1 0 0 1-.747 1.152c-.349.35-.681.567-1.148.75-.352.137-.882.301-1.855.347-1.055.05-1.371.06-4.042.066s-2.985-.005-4.04-.05m8.153-13.493a1.2 1.2 0 1 0 2.4-.003 1.2 1.2 0 0 0-2.4.003M4.865 10.01a5.134 5.134 0 1 0 10.27-.02 5.134 5.134 0 0 0-10.27.02m1.802-.004a3.334 3.334 0 1 1 6.667-.013 3.334 3.334 0 0 1-6.667.013"></path></svg>
                </a>

                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill="#000" d="M18.522.003C15.446-.006 4.1.009 1.478.003.662.003 0 .645 0 1.435v17.133C0 19.358.662 20 1.478 20h17.044c.816 0 1.478-.641 1.478-1.432V1.435c0-.79-.662-1.432-1.478-1.432M6.078 16.738H3.085V7.735h2.993v9.003M4.582 6.506c-1.008.01-1.675-.684-1.673-1.555-.003-2.06 3.358-2.084 3.366 0 0 .864-.65 1.555-1.693 1.555M16.87 16.738h-2.993v-4.816c0-1.21-.433-2.036-1.516-2.036-1.111.04-1.663.901-1.634 1.825v5.027H7.735s.039-8.158 0-9.002h2.992l-.02 1.305c.394-.615 1.103-1.517 2.718-1.517 1.968 0 3.445 1.287 3.445 4.052z"></path></svg>
                </a>

                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewBox="0 0 19 20"><path fill="#000" d="m.044.063 7.352 11.022.023.034-3.667 4.39-3.71 4.44L0 20h1.677l3.241-3.881c1.783-2.134 3.242-3.88 3.245-3.88.002 0 1.169 1.745 2.592 3.88L13.344 20H19l-.023-.035-3.84-5.758c-2.1-3.148-3.82-5.73-3.82-5.737a883 883 0 0 1 3.527-4.234C16.783 1.914 18.372.01 18.372.006A28 28 0 0 0 17.54 0h-.835L13.64 3.67a1080 1080 0 0 1-3.074 3.673c-.004.001-1.11-1.65-2.457-3.67L5.658 0H0zM5.339 2.01l11.36 16.74c.005.007-.253.01-1.28.01h-1.286l-2.7-3.977L5.512 6.06C3.739 3.447 2.289 1.308 2.289 1.304s.54-.008 1.283-.008h1.281z"></path></svg>
                </a>
            </div>
            <div class="footer-links">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <span>© 2006-2025 Wix.com, Inc</span>
            </div>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>